
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
min-height:100vh;
display: flex;
flex-direction: column;
color:#3a3a3a;
font-family:'Roboto',sans-serif;
}



header{
    background-color:#ffffff;
    padding: 0 1rem;
    position:fixed;
    z-index:99;
    width:100%;
    box-shadow:0 2px 2px #3a3a3a;
}
header a{
    text-decoration:none;
    color:inherit;
}
h1{
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
}
#menu{
    font-style:120%;
    letter-spacing: 2%;
    list-style-type:none;
}
.active{
    border-bottom: 1px solid #3a3a3a;
}
main{
background-color:lightblue;
flex:1 0 auto;
}
#social-networks{
    text-align:center;
    padding:20px 0;
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#social-networks i{
    font-size:160%;
    padding:5%;
}
@media screen and (min-width:768px){
    nav{
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
#menu{
    display:flex;
}
#menu>li{
    padding-left: 2rem;
}

}